body {
    font-family: "Rubik", sans-serif;
    font-display: fallback;
    margin: 0%;
}

header {
    text-align: center;
}

nav {
    text-align:right;
    font-size: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 1%;
    margin: 0%;
    background-color: #f2f2f2;
}

.navButton{
    padding-left:1%;
    padding-right:1%;
    text-decoration: none;
    color: #303030;
}

.pagetitle {
    text-align: center;
}

#toTop{
    display: none;
    position: fixed;
    bottom: 3%;
    right: 2%;
    z-index: 99;
    border: none;
    font-family: "Rubik", sans-serif;
    font-display: fallback;
    outline: none;
    background-color:deepskyblue;
    color: white;
    cursor: pointer;
    padding-left: 1.25%;
    padding-right: 1.25%;
    padding-top: 0.75%;
    padding-bottom: 0.75%;
    border-radius: 10%;
}

#toTop:hover{
    background-color: skyblue;
}